/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
    background-color: var(--bg-color);
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)
***/

body {
    background-color: #E1C699;
    /* Add a background color or image */
    background-color: var(--bg-color); /* see bottom of file for color variables */

    /* Customize the default size, color, and font for text*/
    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */
    margin: 5px;
}

/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons
***/

/*List subsection*/
li{
    list-style-type: square;
}

h1 {
    color: lime;
    font-style: italic;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-decoration: underline;
    font-style: italic;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

h4 {
    font-style: italic;
    font-weight: 500;
}

h5{ /* can be for random points I wanna put nect to images*/
    font-style: italic;
}

h6{ /*Not sure purpose yet will add*/
    font-weight: 300;
}

p {
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

/*Links subsection*/
a,
a * {
    
}
a:link{
    color: #0066cc;
    font-weight: bolder;
}
a:visited{
    color: #0066cc;
}
a:hover{
    color: #004999;
    text-decoration: underline;
}
a:active{
    color: #ff6600;
}

/*Buttons subsection*/
button {
    background-color: rgb(43, 179, 52);
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 12px;
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
}

button:hover {
    /* Make the button look different when the user hovers over it */
    background-color: rgb(34, 150, 43);
    transform: scale(1.05);
}

/*** Header section ***
  
  Purpose:
  - Add style rules for your website's header section
***/
header{
    margin: 0px;
}
.header-container { /* Example A: This styles elements with class="header" */
    display: flex;
    flex-direction: row;
    padding-top: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #8d2626; /*please note: color for testing purposes only, not final design choice*/
    text-align: center;
}
.header-button{
    background-color: ;
    text-align: ;
    font-size: ;
    color: ;
}
#header-item:nth-of-type(1){
    width: 50%;
    text-align: left;
}
#header-item:nth-of-type(2){
    width: 50%;
    text-align: right;
}

#header-img img{
    margin-left: 1em;
    margin-right: 1em;
    width: 250px;
    max-width: 50%;
}


img {
  border-radius: 10px;
  border: 2px solid #ddd;
}


/**
  Purpose:
  - Add style rules for your website's footer section
***/

.footer { /* Example B: This styles elements with class="footer" */
    
}

/*** Navigation bar (navbar) ***
  
  Purpose:
  - Add style rules for your website's navbar
***/

.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    
    
    
}

.navbar ul li {
    float: left;
    margin: 10px;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
}

.navbar ul li a:hover {
    
}

/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section
***/
.about{

}
.our-work{

}


/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section
***/


/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section
***/



:root {
    /* Light Mode */
    --bg-color: rgb(59, 159, 181);
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: #3e3377;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}